//bacgrounds
$main-bg: #e5e5e5;
$second-bg: #121212;
//colors
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.4);
//fonts
$basic-family: "Roboto", "Arial", "Helvetica", sans-serif;
//breakPoints
$tablet: 960px; // Планшеты
$mobile: 760px; // Телефоны L
$mobileSmall: 425px; // Телефоны S
