.advantages {
  padding-top: 200px;
  @media (max-width: $tablet) {
    padding-top: 100px;
  }

  @media (max-width: $mobile) {
    padding-top: 70px;
  }

  &__title {
    font-family: $basic-family;
    color: $white;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 115px;

    @media (max-width: $tablet) {
      font-size: 42px;
      line-height: 56px;
      margin-bottom: 90px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 80px;
    }

    @media (max-width: $mobileSmall) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 70px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    max-width: 416px;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $mobile) {
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-left: 125px;
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: $mobileSmall) {
      padding-left: 0;
      position: static;
    }

    &-img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 60px;

      @media (max-width: $mobile) {
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 0;
      }

      @media (max-width: $mobileSmall) {
        position: static;
        margin-bottom: 40px;
      }
    }

    &-title {
      font-family: $basic-family;
      color: $white;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      margin-bottom: 30px;

      @media (max-width: $tablet) {
        font-size: 21px;
        line-height: 28px;
      }
    }

    &-desc {
      font-family: $basic-family;
      color: $white-opacity;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      line-height: 25px;
      max-width: 358px;
      margin: 0 auto;
    }
  }
}
