body {
  background-color: $main-bg;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.btn {
  font-family: $basic-family;
  display: block;
  border: 0;
  padding: 10px 30px;
  border-radius: 50px;

  font-size: 16px;
  line-height: 24px;
  color: $white;
  transition: text-shadow 0.2s ease-in;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 0.65px $white, 0 0 0.65px $white;
  }
}

.btn--primary {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  font-weight: 400;
}

.btn--secondary {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-weight: 700;
}

.title {
  max-width: 920px;
  font-family: $basic-family;
  font-size: 51px;
  line-height: 76px;
  color: $white;
}
