.header {
  background: url(../img/main-screen__bgc.jpg) no-repeat center center/cover;
  padding-top: 40px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1760px;
    margin: 0 auto;
    margin-bottom: 190px;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: $tablet) {
      margin-bottom: 110px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 90px;
    }

    @media (max-width: $mobileSmall) {
      margin-bottom: 40px;
    }
  }
}

.nav {
  padding: 0 10px;
  transition: 0.3s ease;

  &__list {
    list-style-type: none;
    display: flex;
  }

  &__item {
    margin-right: 56px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $tablet) {
      margin-right: 30px;
    }
  }

  &__link {
    font-family: $basic-family;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    transition: color 0.2s ease-in;

    &:hover {
      color: #df5950;
    }

    @media (max-width: $tablet) {
      font-size: 15px;
    }
  }

  @media (max-width: $mobile) {
    position: absolute;
    opacity: 0;
    transform: translateX(-1000%);

    &._active {
      position: fixed;
      opacity: 1;
      transform: translateX(0);
      background-color: rgba(12, 12, 12, 0.9);
      padding: 80px 30px;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 54;
    }

    & .nav__list {
      flex-direction: column;
    }

    & .nav__item {
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    & .nav__link {
      font-weight: 500;
      &:hover {
        color: $white;
      }
    }
  }
}

.count {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile) {
    justify-content: space-between;
  }

  &._modify {
    margin-top: 50px;
    @media (max-width: $mobile) {
      margin-top: 40px;
    }
  }

  &__item {
    background-color: $second-bg;
    padding: 20px 30px;
    margin: 15px;

    @media (max-width: $mobileSmall) {
      padding: 15px 25px;
    }
  }

  &__number {
    font-family: $basic-family;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: $white;
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 32px;
      line-height: 42px;
    }

    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__day {
    font-family: $basic-family;
    font-size: 16px;
    line-height: 22px;
    color: $white-opacity;
  }
}

.bottom-block {
  background-color: $second-bg;
  margin-top: 218px;
  padding: 36px 0;

  @media (max-width: $tablet) {
    margin-top: 150px;
  }

  @media (max-width: $mobile) {
    margin-top: 100px;
  }

  @media (max-width: $mobileSmall) {
    margin-top: 60px;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  & .btn--secondary {
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    font-weight: 700;
  }

  &__people {
    padding-left: 81px;
    padding-right: 81px;

    @media (max-width: $tablet) {
      padding-left: 30px;
      padding-right: 0;
    }

    @media (max-width: $mobile) {
      padding-left: 0;
      margin-top: 30px;
      flex-basis: 100%;
    }
  }

  &__member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-family: $basic-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white-opacity;
  }

  &__number {
    font-family: $basic-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    padding-left: 30px;
  }

  &__earned {
    flex-grow: 1;

    @media (max-width: $tablet) {
      margin-top: 30px;
      flex-basis: 100%;
    }

    & .bottom-block__member {
      justify-content: flex-start;
    }
  }
}

.progress {
  &__bg {
    max-width: 714px;
    height: 6px;
    background: $white;

    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }

  &__bar {
    height: 6px;
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  }

  &__score {
    display: flex;
    justify-content: space-between;
  }

  &__number {
    font-family: $basic-family;
    font-size: 16px;
    line-height: 24px;
    color: $white-opacity;
  }
}
