.partners {
  padding-top: 235px;

  @media (max-width: $tablet) {
    padding-top: 100px;
  }

  @media (max-width: $mobile) {
    padding-top: 70px;
  }

  &__title {
    font-family: $basic-family;
    position: relative;
    display: block;
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    color: $white;
    padding-left: 125px;
    margin-bottom: 90px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/icons/icon-heading.svg) no-repeat;
      width: 95px;
      height: 95px;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }

    @media (max-width: $tablet) {
      font-size: 42px;
      line-height: 56px;
      margin-bottom: 80px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 70px;
    }

    @media (max-width: $mobileSmall) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 60px;
    }
  }

  &__box {
    display: flex;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  &__brends {
    padding: 30px 60px;
    border-right: 1px solid $white-opacity;
    flex: 0 0 25%;
    padding-left: 10px;
    padding-right: 10px;
    &:nth-child(4n) {
      border-right: none;
    }

    @media (max-width: $tablet) {
      flex: 0 0 33%;
      &:nth-child(3n) {
        border-right: none;
      }
    }

    @media (max-width: $mobile) {
      flex: 0 0 50%;
      &:nth-child(2n) {
        border-right: none;
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
