.start {
  padding-top: 225px;

  @media (max-width: $tablet) {
    padding-top: 100px;
  }

  @media (max-width: $mobile) {
    padding-top: 70px;
  }

  &__title {
    font-family: $basic-family;
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    color: $white;
    padding-left: 125px;

    @media (max-width: $tablet) {
      font-size: 42px;
      line-height: 56px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/icons/icon-heading.svg) no-repeat;
      width: 95px;
      height: 95px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__desc {
    max-width: 411px;
    font-family: $basic-family;
    font-weight: 400;
    color: $white-opacity;
    font-size: 16px;
    line-height: 26px;
    margin-top: 50px;

    @media (max-width: $tablet) {
      margin-top: 40px;
    }
  }

  &__box {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 25%;

    @media (max-width: $tablet) {
      flex-basis: 50%;
    }

    @media (max-width: $mobile) {
      flex-basis: 100%;
    }
  }

  &__count {
    display: block;
    font-family: $basic-family;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: $white;
    margin-bottom: 30px;

    @media (max-width: $mobile) {
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__progress {
    height: 80px;
    margin-bottom: 35px;
  }

  .start__progress--first {
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  }

  .start__progress--second {
    height: 60px;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .start__progress--third {
    height: 30px;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  }

  .start__progress--end {
    height: 10px;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  &__text {
    font-family: $basic-family;
    color: $white-opacity;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-right: 18px;

    @media (max-width: $tablet) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}
